:root {
    --primary-color: white;
    --secondary-color: rgb(189, 186, 186);
    --main-background: #1e213b;
    --top-background: #272b4a;
    --bottom-background: #232744;
}

body {
    margin: 0;
    color: var(--primary-color);
    background-color: var(--main-background);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
    max-height: 500px;
    max-width: 750px;
}

.company-info {
    display: flex;
    padding: 25px 50px;
    justify-content: center;
    gap: 20px;
    background-color: var(--top-background);
}

.company-logo {
    width: 40%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.logo-img {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo-img img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.name {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 15px;
}

.name a {
    display: block;
    font-weight: 100;
    text-decoration: none;
    font-size: 14px;
    color: lightcoral;
}

.desc {
    color: var(--secondary-color);
    font-size: 14px;
}

.company-detail {
    height: 220px;
    background-color: var(--bottom-background);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics div {
    font-size: 12px;
    font-weight: lighter;
}

.statistics .emp {
    font-size: 16px;
    font-weight: bolder;
}

.statistics .jobs {
    font-size: 18px;
    font-weight: bolder;
    color: lightcoral;
}

.paid-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
}

.paid-time div {
    margin-top: 5px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
}

.title {
    font-size: 12px;
    color: var(--primary-color);
    width: 60%;
}

.progress {
    display: flex;
    height: 4px;
    width: 150px;
    background-color: var(--main-background);
}

.progress div {
    height: 4px;
    background-color: lightcoral;
    margin-top: 0px;
}

.p1 {
    width: 20%;
}

.p2 {
    width: 40%;
}

.p3 {
    width: 60%;
}

.p4 {
    width: 10%;
}

.p5 {
    width: 0%;
}

.paid-time span {
    display: inline-flexbox;
    font-size: 12px;
    margin-left: -20px;
}

.rating {
    display: flex;
    font-size: 12px;
    gap: 1px;
    color: gold;
}